body {
  padding-top: 10px;
}

.text-lockup {
  padding: 5px 15px;
  text-align: center;
}

.highlight {
	color: #ff33cc;
}


.ios .download-enabled{
  display:block;
  visibility:visible;
}

.android .download-disabled{
  display:block;
  visibility:visible;
}

.desktop .go-to-mobile{
  display:block;
  visibility:visible;
}

